<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated logmetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.senacor.bdm.model.logmetamodel.presentation.LogmetamodelModelWizardID"
            name="%_UI_LogmetamodelModelWizard_label"
            class="com.senacor.bdm.model.logmetamodel.presentation.LogmetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LogmetamodelModelFile.gif">
         <description>%_UI_LogmetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated logmetamodel -->
      <editor
            id="com.senacor.bdm.model.logmetamodel.presentation.LogmetamodelEditorID"
            name="%_UI_LogmetamodelEditor_label"
            icon="icons/full/obj16/LogmetamodelModelFile.gif"
            extensions="logmetamodel"
            class="com.senacor.bdm.model.logmetamodel.presentation.LogmetamodelEditor"
            contributorClass="com.senacor.bdm.model.logmetamodel.presentation.LogmetamodelActionBarContributor">
      </editor>
   </extension>
</plugin>
