<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated commonmetamodel -->
      <package
            uri="http://www.example.org/commonmetamodel"
            class="com.senacor.bdm.model.commonmetamodel.CommonmetamodelPackage"
            genModel="model/commonmetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated logmetamodel -->
      <package
            uri="http://www.example.org/logmetamodel"
            class="com.senacor.bdm.model.logmetamodel.LogmetamodelPackage"
            genModel="model/logmetamodel.genmodel"/>
   </extension>

</plugin>
